[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
rest = { path = "../rest" }

ureq = { version = "3.1.4", features = ["json"] }

anyhow.workspace = true
serde = { workspace = true }
serde_json = { workspace = true }
